.endButton{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.endButton a{
  width: fit-content;
  margin-top: 25px;
}
.win{
  margin: 0 24px;
}
.win .textContainer{
  padding: 15px 0;
}