.research{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 24px;
}

.research a{
  margin-bottom: 20px;
}

.imgResearche{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 20px;
}
.imgResearche img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.topBottom img{
  width: 165px;
  height: auto;
}
.topBottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 24px;
}