.header{
  width: 100%;
  display: flex;
  padding: 20px 0;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: black;
  box-shadow: -2px -4px 4px 11px #000000d1;
  top: 0;
  left: 0;
  z-index: 10;
  scroll-behavior: smooth;
}
.lottiePlayer {
  width: fit-content;
  height: 56px;
}
