.question3 .answers, .question3 .wrongButton.wrong{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 204px;
    margin: auto;
}
.question3 .answerButton, .question3 .wrongButton.wrong{
    width: auto;
    height: auto;
    font-size: 18px;
    padding: 5px;
    margin: 10px auto;
} 
.question3 .answers a, .question3 .wrongButton.wrong a{
    padding: 5px;
    width: fit-content;
    margin: 10px auto;
}

/*Question4*/

.wrapper-imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}
.container-img{
    width: 30%;
    height: auto;
}
.img-q4{
    object-fit: contain;
    width: 100%;
    height: 100%;
}