.question3 .answers, .question3 .wrongButton.wrong{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 204px;
    margin: auto;
}
.question3 .answerButton, .question3 .wrongButton.wrong{
    width: auto;
    height: auto;
    font-size: 18px;
    padding: 5px;
    margin: 10px auto;
} 
.question3 .answers a, .question3 .wrongButton.wrong a{
    padding: 5px;
    width: fit-content;
    margin: 10px auto;
}

/*Question4*/
.question4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
    height: 100vh;
}
.wrapper-imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}
.container-img{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-q4{
    object-fit: contain;
    width: 100%;
    height: 200px;
    border: solid white 1px;
}
.question4 .topBottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
    height: 94vh;
    width: 100%;
    margin: 0 24px;
}
.question4 .bottom{
    height: 56vh;
}

.linkImg{
    background: transparent;
    border: none;
}