.rhap_progress-section{
    display: none;
}

.rhap_main-controls button{
    background-color: black;
    border: 2px solid #fff;
    margin: 0;
    height: 56px;
    width: 56px;
}

.buttonPlayPause{
    background-color: black;
    border: 2px solid #fff;
}

.header_lottiePlayer__cjR2j svg{
    transform: none !important;
  }
