.linkImg.wrongImg{
    background: transparent;
}
.linkImg.wrong, .linkImg.wrongImg{
  padding:0;
}
.linkImg.wrongImg img{
  background-color: rgba(128, 128, 128, 0.678);
}
.linkImg.wrongImg img:active {
  pointer-events: none;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
      transform: translate3d(-10px, 0, 0);
  }

  20%, 80% {
      transform: translate3d(20px, 0, 0);
  }

  30%, 50%, 70% {
      transform: translate3d(-40px, 0, 0);
  }

  40%, 60% {
      transform: translate3d(40px, 0, 0);
  }
}